"exchange": {
    "name": "bitkub",
    "key": "{{ exchange_key }}",
    "secret": "{{ exchange_secret }}",
    "ccxt_config": {},
    "ccxt_async_config": {},
    "pair_whitelist": [
        "BTC/THB",
        "ETH/THB"
    ],
    "pair_blacklist": [
    ]
}
